name: firecrawl

networks:
  firecrawl-internal:
    driver: bridge
  dokploy-network:
    external: true

x-common-env: &common-env
  - REDIS_URL=${FIRECRAWL_REDIS_URL:-redis://redis:6379}
  - REDIS_RATE_LIMIT_URL=${FIRECRAWL_REDIS_URL:-redis://redis:6379}
  - PLAYWRIGHT_MICROSERVICE_URL=http://puppeteer-service:3000
  - PORT=3002
  - NUM_WORKERS_PER_QUEUE=4
  - BULL_AUTH_KEY=some-long-random-string
  - TEST_API_KEY=codextown-firecrawl-key
  - HOST=0.0.0.0
  - LOGGING_LEVEL=info
  - MAX_RAM=0.95
  - MAX_CPU=0.95

services:
  puppeteer-service:
    image: trieve/puppeteer-service-ts:v0.0.6
    environment:
      - PORT=3000
      - PROXY_SERVER=${PROXY_SERVER}
      - PROXY_USERNAME=${PROXY_USERNAME}
      - PROXY_PASSWORD=${PROXY_PASSWORD}
      - MAX_CONCURRENCY=${MAX_CONCURRENCY:-4}
      - TWOCAPTCHA_TOKEN=${TWOCAPTCHA_TOKEN}
    networks:
      - firecrawl-internal

  api:
    image: trieve/firecrawl:v0.0.46
    environment: *common-env
    networks:
      - firecrawl-internal
      - dokploy-network
    depends_on:
      - redis
      - puppeteer-service
    ports:
      - "3002:3002" 
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: ["pnpm", "run", "start:production"]

  worker:
    image: trieve/firecrawl:v0.0.46
    environment: *common-env
    networks:
      - firecrawl-internal
    depends_on:
      - redis
      - puppeteer-service
      - api
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: ["pnpm", "run", "workers"]

  redis:
    image: redis:alpine
    command: redis-server --bind 0.0.0.0
    networks:
      - firecrawl-internal
